.row
  .col-lg-12
    .alert.alert-danger(style="display: none")
    form.form-horizontal
      - each property, name in schema.properties
        - value = record.properties[name]
        .form-group
          label.field-name.col-lg-4 #{name.replace(/_/g, ' ')}
          .col-lg-8
            - if (property.type == 'integer' || property.type == 'float')
              input.form-control(
                type="text"
                name="#{name}" 
                value="#{value}")
            - else if (property.type == 'boolean')
              label.radio-inline
                input(type="radio" name="#{name}" value="1" checked=value)
                | YES
              label.radio-inline
                input(type="radio" name="#{name}" value="0" checked=!value)
                | NO
            - else if (property.type == 'timestamp')
              - if (value && value.toString().length == 10) value = value * 1000
              - time = value ? this.moment(value).format("YYYY-MM-DD HH:mm:ss ZZ") : ''
              .input-group.date
                input.form-control(
                  type="text"
                  name="#{name}" 
                  value="#{time}")
                span.input-group-addon
                  i.fa.fa-th
            - else
              input.form-control(
                type="text"
                name="#{name}" 
                value="#{value}")
