tr.record-row(id="record-id-#{record.id}")
  - each property, name in schema.properties 
    - value = record.properties[name]
    td(class="type-#{property.type == '[Function]' ? 'function' : property.type}")
      span.record-value(data-title="#{name}" data-content="#{value}")
        - if (property.type == 'timestamp')
          - if (value && value.toString().length == 10) value = value * 1000
          - time = value ? this.moment(value).format("YYYY-MM-DD HH:mm:ss ZZ") : ''
          | #{time}
        - else
          | #{value}
