li
  a.record(href="#/record/#{name}")
    - if (collection)
      span.fa.fa-angle-double-right
    - else
      span.fa.fa-table
    | #{title}
    .label.label-default(id="count-#{name}")
      | #{count}
  a.schema(href="#/schema/#{name}")
    span.fa.fa-chevron-right
